/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.header {
    display: flex; /* Utiliza flexbox para alinear la imagen y el título */
    align-items: center; /* Alinea verticalmente los elementos dentro del contenedor */
}

.header img {
    width: 50px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    margin-right: 10px; /* Añade un espacio entre la imagen y el texto */
}

.header h2 {
    font-size: 24px; /* Ajusta el tamaño del título según sea necesario */
    margin: 0; /* Elimina el margen predeterminado para evitar espacios innecesarios */
}



form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;

}

input[type="email"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="password"] {
    width: 90% !important;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}




button[type="submit"] {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}




/* Estilo de enlaces */
a {
    color: #007bff; /* Color de enlace azul */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    transition: color 0.3s; /* Agrega una transición suave para el cambio de color */
}

a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Estilo de la lista de navegación */
ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado */
}

ul li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin-right: 10px; /* Espacio entre elementos de la lista */
}

/* Estilo de los elementos de la lista */
ul li a {
    padding: 8px 12px; /* Añade relleno alrededor del texto */
    border-radius: 4px; /* Añade bordes redondeados */
}

/* Estilo de los elementos de la lista al pasar el mouse */
ul li a:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
    color: #333; /* Cambia el color del texto al pasar el mouse */
}




.confirmacion-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    background-color: #fff;
    border: 1px solid #6b96df;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.confirmacion-modal h2 {
    margin-top: 0;
    text-align: center;
}

.confirmacion-modal button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.confirmacion-modal button:hover {
    background-color: #0056b3;
}


/* Estilos para la información del ayudante */
.ayudante-info {
    display: flex; /* Muestra los elementos en línea */
    align-items: center; /* Alinea verticalmente los elementos */
    margin-bottom: 10px; /* Añade espacio entre los elementos */
}

/* Estilo del nombre del ayudante */
.ayudante-info span {
    margin-right: 10px; /* Añade espacio entre el nombre del ayudante y el botón */
}

/* Estilo del botón "Dar de baja" */
#eliminarForm button {
    padding: 8px 20px;
    background-color: #dc3545; /* Color de fondo rojo */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

#eliminarForm button:hover {
    background-color: #c82333; /* Color de fondo rojo más oscuro al pasar el mouse */
}

/* Estilo para la lista de usuarios bloqueados */
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

ul {
    padding: 0;
    list-style-type: none; /* Elimina los puntos de la lista */
}

li {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Oculta el contenido que desborda */
}

.email {
    font-weight: bold;
    color: #007bff;
    padding: 15px; /* Añade un padding uniforme */
    display: block; /* Muestra el span como bloque para forzar la lista vertical */
}

.email:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}




/* registro*/
h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}


.form-container {
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    max-width: 600px; /* Establece el ancho máximo del contenedor */
    padding: 20px; /* Añade espacio interno al contenedor */
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 8px; /* Añade bordes redondeados al contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega sombra al contenedor */
    position: relative;
}


label {
    display: block;
    margin-bottom: 10px;
}

.input-field {
    padding: 8px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

.error-message {
    color: red; /* Color de texto rojo */
    font-size: 14px; /* Tamaño de fuente */
    margin-top: 5px; /* Margen superior pequeño */
    display: block; /* Muestra el mensaje en una nueva línea */
}



input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}



/* Estilo para el botón de volver al inicio */
.btn-volver {
    display: inline-block; /* Cambiado a inline-block para que se ajuste al ancho del contenido */
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Elimina el subrayado del texto */
    transition: background-color 0.3s; /* Agrega una transición suave para el cambio de color de fondo */
}

.btn-volver:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilo para el contenedor del botón de volver al inicio */
.btn-container {
    text-align: center; /* Centra el contenido del contenedor */
    list-style: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el relleno */
    margin: 0; /* Elimina el margen */
}




/* Estilos para el mensaje de éxito  login ayudante*/
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }

}




