{% extends 'products.html' %}
{% load static %}

{% block title %}Buscar Productos{% endblock %}

{% block button %}
{% endblock %}

{% block content %}
{% if user.tipo != 'ayudante' and user.tipo != 'administrador' %}
    {% include 'core/crearPublicacion/mensajes.html' %}

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2>Resultados de búsqueda para "{{ query }}"</h2>
                </div>
                <div class="col-6 text-right">
                    <a href="{% url 'crear_publicacion' %}" class="boton-crear">Crear Publicación</a>
                </div>
            </div>

            <!-- Barra de búsqueda -->
            <div class="row my-4">
                <div class="col-12">
                    <form method="GET" action="{% url 'buscar_productos' %}" class="form-inline">
                        <input type="text" list="favoritas" name="q" class="form-control mr-2"  placeholder="Buscar productos..." autocomplete="off">
                        <datalist id="favoritas">
                            {% for favorita in favoritas %}
                                <option value="{{ favorita.termino_busqueda }}">
                            {% endfor %}
                        </datalist>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                        <i class="fas fa-star favorite-icon {% if ya_favorita %}favorited{% endif %}" id="favorite-icon"></i>
                    </form>
                </div>
            </div>

            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% if resultados %}
                            {% for publicacion in resultados %}
                                <div class="col">
                                    <div class="card shadow-sm">
                                        {% if publicacion.imagen %}
                                            <img src="{{ publicacion.imagen.url }}" class="card-img-top" alt="{{ publicacion.titulo }}">
                                        {% else %}
                                            <img src="{% static 'placeholder_image.jpg' %}" class="card-img-top" alt="Imagen no disponible">
                                        {% endif %}
                                        <div class="card-body">
                                            <h5 class="card-title">{{ publicacion.titulo }}</h5>
                                            <p class="card-text">{{ publicacion.descripcion }}</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <a href="{% url 'ver_producto' publicacion.id %}" class="btn btn-outline-primary">Ver Detalles</a>
                                                <a href="{% url 'solicitar_trueque' publicacion.id %}" class="btn btn-outline-primary solicitar-btn" data-publicacion-id="{{ publicacion.id }}">Solicitar trueque</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col">
                                <p>No se encontraron productos.</p>
                            </div>
                        {% endif %}
                   
                    </div>
                    <div class="text-right mt-4">
                        <a href="{% url 'products' %}" class="btn btn-primary">Ver todos los productos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .favorite-icon {
            cursor: pointer;
            color: grey;
        }
        .favorite-icon.favorited {
            color: gold;
        }
    </style>

    <script>
        document.getElementById('favorite-icon').addEventListener('click', function() {
            document.getElementById('favorite-form-button').click();
        });

    </script>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="q" value="{{ query }}">
        <button type="submit" style="display: none;" id="favorite-form-button"></button>
    </form>







{% endif %}
{% endblock %}
