<!-- templates/core/valorar_trueque.html -->

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorar Trueque</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="container">
        <h1>Valorar Trueque</h1>

        <form method="post">
            
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar Valoración</button>
        </form>
    </div>
</body>
</html>
