{% extends 'core/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/products-estilos.css' %}">

{% block content %}

<div style="display: flex; align-items: center;">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-ticket-perforated" viewBox="0 0 16 16" style="margin-right: 10px;">
        <path d="M4 4.85v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9z"/>
        <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3zM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9z"/>
    </svg>
    <span style="font-size: 24px;">Mis puntos:{{ usuario.puntuacion }}</span>
</div>

<div class="caja">
    <h2 class="titulo">Premios</h2>
    <ul class="list-group list-group-flush">
        {% for publicacion in publicaciones %}
        <li class="list-group-item">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <h4>{{ publicacion.titulo }}</h4>
                    <p>{{ publicacion.descripcion }}</p>
                </div>
                <button class="btn btn-primary">Canjear</button>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}