{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">

    <title>Listado de Publicaciones a Validar</title>
</head>
<body> <h1>Listado de Publicaciones a Validar</h1>
    <ul>
        {% for publicacion in publicaciones_a_validar %}
            <li style="display: flex; justify-content: space-between;">
             
                <p>Titulo: <td>{{ publicacion.titulo }} </td></p>
                <p>Descripcion: <td>{{ publicacion.descripcion }}</td></p>
                <p> Estado:<td>{{ publicacion.estado }}</td></p>
                <p>Categoria:<td>{{ publicacion.categoria}}</td></p>
                <p>Usuario: <td>{{ publicacion.usuario }}</td>  </p>
                {% if publicacion.imagen %}
                    <td scope="row"><img src="{{ publicacion.imagen.url }}" style="height: 50px; width: 50px;" alt="...">
                {% else %}
                    <td scope="row" ><img src="" style="height: 50px; width: 50px;" alt="no cargo imagen"></td>
                {% endif %}
                <form method="post" action="{% url 'aceptar_publicacion' publicacion.id %}">
                    {% csrf_token %}
                    <button type="submit">Aceptar</button>
                </form>
            
                <form method="post" action="{% url 'rechazar_publicacion' publicacion.id %}">
                    {% csrf_token %}
                    <button type="submit">Rechazar Publicación</button>
                </form>
            
                <form method="post" action="{% url 'bloquear_usuario' publicacion.usuario.id  %}">
                    {% csrf_token %}
                    <button type="submit">Bloquear Usuario</button>
                </form>
            </li>
        {% empty %}
            <h2>No hay publicaciones a validar en este momento.</h2>
        {% endfor %}
        <a href="{% url 'home' %}" class="btn-volver">Volver atrás</a>
    </ul>
</body>
</html>