{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios Bloqueados</title>
    <link rel="icon" type="image/png" href="{% static 'imagenes/logoCaritas.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="container">
        <h1>Listado de Usuarios Bloqueados</h1>
        {% if elementos %}
        <ul>
            {% for elemento in elementos %}
                <li>
                    <span class="email">{{ elemento.email }}</span>
                </li>
            {% endfor %}
        </ul>
        {% else %}
           <p>No hay usuarios bloqueados disponibles</p>
        {% endif %}
    </div>

</ul>
<li class="btn-container">
    <a href="{% url 'inicio' %}" class="btn-volver">Volver al inicio</a>
</li>
</body>
</html>
