

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
        function confirmarSalida() {
            var confirmacion = confirm("¿Estás seguro de que deseas cerrar sesión?");
            if (confirmacion) {
                document.getElementById("logout-form").submit();
            }
        }
    </script>
</head>
<body>
    <h1>¿Estás seguro de que deseas cerrar sesión?</h1>
    <form id="logout-form" action="{% url 'exit' %}" method="post">
        {% csrf_token %}
        <button type="button" onclick="confirmarSalida()">Confirmar</button>
        <a href="{% url 'home' %}">Cancelar</a>
    </form>
</body>
</html>

