{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->

<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/footer_estilo.css' %}">


<footer id="footer-main" class='bg-dark text-dark pt-5 pb-4'>
    <div class="container  ">
      <div class="row ">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class='text-uppercase mb-4 font-weight-bold text-alert'> Contacto </h5>
            <br>
           
        </div>
        <div class="col-sm-3 md-start">
            <h6 class="mt-3"><a href="">GET HELP</a></h6>
            <a href="">Noticias</a>
            <a href="">Voluntariado</a>
            <a href="">Formas de donar</a>
            <a href="">Preguntas frecuentes</a>
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">ABOUT DJANGO</a></h6>
            <a href="">Filiales</a>
            <a href="">Politicas de privacidad</a>
            <a href="">Politica de protección de niños, adolescentes y adultos vulnerables</a>
            
            



        </div>
        <div class="col-sm-3">
          <br><br>
          <a href="">Redes sociales</a>
          <br>
          <a href="https://instagram.com/tu_cuenta" class="ico" target="_blank"><i class="fab fa-instagram fa-2x"></i> Instagram</a>
         <a href="mailto:info@example.com" class="ico"><i class="fas fa-envelope fa-2x"></i> Correo </a>
         <a href="https://twitter.com/tu_cuenta" class="ico" target="_blank"><i class="fab fa-twitter fa-2x"></i> Twitter</a>
                <a href="https://facebook.com/tu_cuenta" class="ico" target="_blank"><i class="fab fa-facebook fa-2x"></i> Facebook</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          
        </div>
        <div class="col-sm-6">
          
        </div>
        <hr>
        <a href="https://github.com/zinmyoswe" style="margin-left: 1rem">Privacy Policy | @zinmyoswe 2019-2020</a>
      </div>
    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->

