{% extends 'core/base.html' %}
    <!--es la vista q primero se muestra, y extiende de base.html  -->
    {% load static %} <!-- Agrega esta línea al principio para cargar las etiquetas de archivos estáticos -->

  
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home-estilo.css' %}"> <!-- Mueve esta línea fuera del bloque content -->
<style>
    body {
        background-image: url('https://episcopado.org/assetsweb/cont/4019/img-900x500.jpg');
        background-size: cover; /* Ajusta la imagen al tamaño de la ventana del navegador */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    }
</style>

<hr>
{% if user.is_authenticated %}
<h4>
    <!--upper pone ne mayus  -->
   {{ user.email | upper}}, bienvenido!
</h4>
{% endif %}

<p>{{ contenido_actual }}</p>

    {% if user.is_authenticated and user.tipo == 'administrador' %}
    <a href="{% url 'editarSobreNosotros' %}" class="btn btn-primary">
        Editar <i class="fas fa-paint-brush ml-1"></i>
    </a>    
    {% endif %}

{% endblock %}
