{% load static %} <!-- Agrega esta línea al principio para cargar las etiquetas de archivos estáticos -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticacion Ayudante</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_ayudante-estilos.css' %}">

</head>
<body>
    <h2>Ingresar Clave</h2>
    <form action="{% url 'login_ayudante' %}"  method="POST">
        {% csrf_token %}
        <label for="clave">Clave:</label><br>
        <input type="password" id="clave" name="clave" required><br><br>
        <input type="submit" value="Aceptar">
    </form>
    {% if messages %}
         <div class="alert alert-success" role="alert">
             {{messages}}
         </div>
    {% endif %}
</body>
</html>
