{% extends 'core/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/products-estilos.css' %}">

{% block content %}
{% if user.tipo != 'ayudante' and user.tipo != 'administrador' %}
    {% include 'core/crearPublicacion/mensajes.html' %}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Publicación</title>
        <link rel="stylesheet" href="{% static 'css/products-estilos.css' %}">
    </head>
    <body>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h2>Productos Disponibles</h2>
                    </div>
                    <div class="col-6 text-right">
                        {% block button %}
                        <a href="{% url 'crear_publicacion' %}" class="boton-crear">Crear Publicación</a>
                        {% endblock button %}
                    </div>
                </div>

                <div class="album py-5 bg-body-tertiary">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            {% if publicaciones %}
                                {% for publicacion in publicaciones %}
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            {% if publicacion.imagen %}
                                                <img src="{{ publicacion.imagen.url }}" class="card-img-top" alt="{{ publicacion.titulo }}">
                                            {% else %}
                                                <img src="{% static 'placeholder_image.jpg' %}" class="card-img-top" alt="Imagen no disponible">
                                            {% endif %}
                                            

                                            <div class="card-body">
                                                <h5 class="card-title">{{ publicacion.titulo }}</h5>
                                                <p class="card-text">{{ publicacion.descripcion }}</p>
                                                <div class="d-flex justify-content-between align-items-center">

                                                  <h5 class="card-title mb-0">
                                                   <a href="{% url 'perfil_usuario' publicacion.usuario.id %}" class="btn btn-outline-primary solicitar-btn" data-publicacion-id="{{ publicacion.usuario.id }}">Perfil publicante</a>
                                                   </h5>

                                                    <a href="{% url 'solicitar_trueque' publicacion.id %}" class="btn btn-outline-primary solicitar-btn" data-publicacion-id="{{ publicacion.id }}">Solicitar trueque</a>
                                                </div>
                                            </div>





                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col">
                                    <p>No hay publicaciones disponibles.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if messages %}
                    <div >
                        {% for message in messages %}
                                {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}


                  
    </body>
    </html>
{% endif %}
{% endblock %}
