{% extends 'core/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/products-estilo.css' %}">

{% block content %}
<div class="container mt-5">
    <h1>Resultados de Búsqueda para "{{ query }}"</h1>
    {% if results %}
        <ul class="list-group">
            {% for user in results %}
                <li class="list-group-item">
                    <a href="{% url 'listarBusqueda' user.id %}">{{ user.username }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron usuarios.</p>
    {% endif %}
</div>
{% endblock%}